.Header
  position: fixed
  z-index: 2
  top: 0
  left: 0
  width: 100%
  background-color: white
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .2)

  > .wrapper
    height: 64px
    display: flex
    justify-content: space-between
    border-bottom: 1px solid #D04D47
    padding: .5rem
    box-sizing: border-box

    img
      height: 100%

    > .left
      height: 100%

      > #logo
        height: 100%

    > .right
      display: flex
      align-items: center
      height: 100%

      > .icon
        width: 20px
        height: 20px
        margin-left: .5rem

      > .user
        width: 36px
        height: 36px
        margin-left: 1rem

  > .menu
    display: flex
    align-items: center
    justify-content: space-between
    padding: .5rem 0
    box-sizing: border-box

    > .item
      padding: 0 .5rem

      p
        margin: 0
        font-size: 70%
        text-transform: uppercase