.Feed
  position: relative
  width: 100%
  height: auto
  padding-bottom: 2rem
  background-color: white

  > .bar
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 32px
    padding: 1rem 2rem
    box-sizing: border-box
    background-color: black

    h5
      margin: 0
      color: white
      text-transform: uppercase
      letter-spacing: 1px

  > .list
    width: 100%
    height: auto

    > div
      margin-bottom: 1rem