.Post
  font-size: 90%
  padding-top: 1rem
  background-color: #F2F3F5

  > .date
    padding: 0 .5rem

    p
      margin: 0
      color: #5088C2

  > .content

    > *:not(.picture)
      padding: 0 .5rem

    > h2, & h3, & p
      margin: .5rem 0

    > .picture
      width: 100%
      height: auto

      img
        width: 100%

    > .author
      color: #808080
      text-decoration: underline

    > h3
      margin-bottom: 1rem

  > .info
    display: flex
    align-items: center
    width: 100%
    padding: 1rem .5rem
    box-sizing: border-box
    background-color: black

    > .item
      margin-right: 1rem

      p
        margin: 0
        color: white
        letter-spacing: .5px

        span
          font-weight: bold
          color: #4D86C1